<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
</head>
<body>
    <h1><%= code %></h1>
    <h1><%= appid %></h1>
    <h1><%= url %></h1>
    <h1><%= secret %></h1>
</body>
</html>